.popup__close-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: -40px;
  transform: rotate(45deg);
  border: 0px;
  background-color: transparent;
  background-image: url(../../../images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 0.4s;
}
.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 582px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    right: 0px;
  }
}
