.profile__description {
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0px;
  grid-area: info;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
