.popup__container {
  width: 430px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: rgb(24, 18, 18);
  box-shadow: 0px 0px 25px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 582px) {
  .popup__container {
    width: 282px;
  }
}
