.profile__add-button {
  width: 150px;
  height: 50px;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
  background-image: url(../../../images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile__add-button {
    width: 100%;
    height: 50px;
  }
}
